.contentSL{
	width: 80%;
	margin:auto;
}

.contentSL .btn-action{
	padding: 6px;
    margin: 6px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #FF9900;
    border-color: #FF9900;
}